#navigation
{
    max-width: 100%;
    background-color:#128B6B;
    position:relative;
    height:auto;
}

#navigation li
{
    max-width:100%;
    background-color:grey;
    font-weight:bold;
    color:rgb(12, 52, 12);
    border-right:1px solid #990000;
    font-size:30px;
    margin-right: 1%; 
    padding:0 1% 0 1%;
    display:inline;
    text-decoration:none;
}

#storetitle
{
    font-size: 180%;
    font-weight: 900;
    margin: 0 auto;
    padding: 10px;
    font-family: serif;
    color: #A58C8C;
}

#sorrynoitems
{
    font-size: 150%;
    font-weight: 900;
    margin: 0 auto;
    padding: 10px;
    font-family: serif;
    font-variant: small-caps;
    color: #17FF2C;
}

#storeitems
{
    margin: 20px;
}

#footer
{
    position:fixed;
    background-color:blue;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    height:40px;
}

#back
{
    height:40px;
    color:blue;
}

.stick-to-left
{
    float:left;
}

.stick-to-right
{
    list-style-position: inside;
    text-align:right;
    margin-right:10px;
}

#orange
{
    width: 200px;
    height: 35px;
    background-color: #F38630;
    color: #FFFFFF;
    border-radius: 5px;
    border: 4px solid #FA6900;
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    margin: auto;
    float:right;
}

footer 
{
    height: 200px;
    background-color: #85B5B5;
    padding: 20px;
}

#wrapper 
{
    padding-left: 30px;
    padding-right: 30px;
    height: 100px;
    background-color: #f8fafa;
}

#footer-info 
{
    width: 380px;
    float: left;
    margin-top: 10px;
}

footer p 
{
    font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    line-height: 20px;
    margin-bottom: 20px;
}

#footer-links 
{
    width: 520px;
    float: right;
    display:inline;
}
#footer-links ul 
{
    height:200px;
    float: right;
    margin-left: 20px;
}

#footer-links ul li 
{
    margin: 10px 0;
}

#footer-links>ul>li>a
{
    color:red;
}

#footer-info>p
{
    color:black;
}

#footer-info>p>a
{
    color:red;
}

footer li 
{
    display: list-item;
}

footer h5 
{
    font-size: 15px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

h3 
{
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #000;
}

h4 
{
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #000;
}

