       html,body{
           height:102%;
           background-color:#333;
        }
   .firstrow
   {
    display:inline-block;
   }

#navigation
{
 background-color:#333;
 position:relative;
 height:30px;
 left:-40px;
 top:-15px;
}
#navigation li
{
 width:100%;
 background-color:lime;
 color:red;
 list-style:none;
 font-weight:bold;
 color:black;
 border-right:1px solid #990000;
 font-size:30px;
 
 padding:0px 10px 0px 10px;
 display:inline;
}
#category{
background-color:#EAD5E1;
position:relative;
top:-30px;
}
 #footer
 {
    position:fixed;
    background-color:blue;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    height:40px;
 }
 ul li{
 list-style:none;
 }
 input[type=text] {
    width: 1200px;
    height:5%;
    margin-bottom:-15px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
 }
 
#back{
height:40px;
color:blue;
}
.footerwrapper{ background:#EAD5E1; border-top:4px solid #a8aaad; padding-bottom:40px;margin-left:auto;margin-right:auto;font-size:20px;position:relative;top:-35px}
.stick-to-left{
float:left;
}
.stick-to-right{
list-style-position: inside;
text-align:right;
margin-right:10px;
}
#orange {
    width: 200px;
    height: 35px;
	background-color: #F38630;
	color: #FFFFFF;
	border-radius: 5px;
	border: 4px solid #FA6900;
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	margin: auto;
	float:right;
}

