
.container
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#top
{
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 15px;
    max-width: 90%;
    height: auto;
}

#welcome
{
    font-size: 200%;
    font-weight: 900;
    margin: 0 auto;
    padding: 10px;
    font-family: sans-serif;
    font-variant: small-caps;
    color: #1DF7BC;
}

.topnavlink
{
    display: inline-block;
    font-size: 200%;
    font-weight: 900;
    margin: 8px;
}

table
{
    max-width: 90%;
}

table, th, td 
{
    border: 5px solid rgb(152, 46, 46);
    padding: 5px;
    margin: auto;
}

th
{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 200%;
    font-family: sans-serif;
    font-variant: small-caps;
    color: #030303;
}

td
{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 150%;
    font-family: sans-serif;
    font-variant: small-caps;
    color: white;
}

.itemimage
{
    max-width: 200px;
    height: auto;
}

ul li
{
    list-style:none;
}

#top_li
{
    display: inline-block;
    text-align:justify;
    padding-right: 3%;
    padding-left: 3%;
}


#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin: 20px;
}

html 
{
    background-color:#333;
    overflow-y: scroll;
}

body 
{
    background-color:#333;
    font-family: 'Titillium Web', sans-serif;
}

a 
{
    text-decoration: none;
    color: #7AA94F;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

a:hover 
{
  color: #179b77;
}

.form 
{
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group 
{
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.tab-group:after 
{
  content: "";
  display: table;
  clear: both;
}

.tab-group li a 
{
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.tab-group li a:hover 
{
  background: #179b77;
  color: #ffffff;
}

.tab-group .active a 
{
  background: #1ab188;
  color: #ffffff;
}

.tab-content > div:last-child 
{
  display: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

label 
{
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}

label .req 
{
  margin: 2px;
  color: #1ab188;
}

label.active 
{
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}

label.active .req 
{
  opacity: 0;
}

label.highlight 
{
  color: #ffffff;
}

input, textarea 
{
  font-size: 22px;
  display: block;
  width: 100%;
  height: auto;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}

input:focus, textarea:focus 
{
  outline: 0;
  border-color: #1ab188;
}

textarea 
{
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap 
{
  position: relative;
  margin-bottom: 40px;
}

.top-row:after 
{
  content: "";
  display: table;
  clear: both;
}

.top-row > div 
{
  float: left;
  width: 48%;
  margin-right: 4%;
}

.top-row > div:last-child 
{
  margin: 0;
}

.button 
{
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

.button:hover, .button:focus 
{
  background: #179b77;
}

.button-block 
{
  display: block;
  width: 100%;
}

.forgot 
{
  margin-top: -20px;
  text-align: right;
}

#category
{
    margin-right:auto;
    margin-left:auto;
    width:420px;
    height:30px;
}

#picturebutton
{
    height:45px;
    font-size:20px;
}
