
.container
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#top
{
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 15px;
    max-width: 80%;
    height: auto;
}

table, th, td 
{
    border: 1px solid black;
    padding: 5px;
}

ul
{
  list-style-type: none;
}

li
{
    display: inline-block;
    text-align:justify;
    padding-right: 3%;
    padding-left: 3%;
}

input
{
    margin: 5px;
}

#login_form
{
    margin: 0 auto;
    max-width: 75%;
    height: auto;
}

#registration_form
{
    margin: 0 auto;
    max-width: 75%;
    height: auto;
}

#sell_form
{
    margin: 0 auto;
    max-width: 75%;
    height: auto;
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin: 20px;
}
